body {
  font-family: "Poppins", sans-serif;
}

.land {
  fill: rgb(141, 155, 136);
}
.interiors {
  fill: none;
  stroke: #c0c0bb;
  stroke-width: 1px;
}
.boundary {
  fill: #9a9e9e;
  stroke: #c0c0bb;
}

.sphere {
  fill: rgb(150, 209, 243);
}

.text-tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 3px;
  border: 1px solid black;
}

.text:hover .text-tooltip {
  display: block;
}

circle {
  fill: rgb(0, 102, 255);
  opacity: 0.3;
}

.tick text {
  font-size: 2em;
  fill: #635f5d;
}

.tick line {
  stroke: #c0c0bb;
}

.axis-label {
  font-size: 5em;
  fill: #8e8883;
}

#menus {
  font-size: 2.5em;
  text-align: center;
}

#menus select {
  font-size: 2.5rem;
}

#menus select option {
  font-size: 1rem;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}
